/*
Comment
*/


h1{
    font-family: 'TH SarabunPSk', 'Arial';
    font-size: 16pt;
    color: blue;
}
.myfont{
    font-family: 'Times New Roman', Times, serif;
}
.coRed{
    color: #ff22ff;
    color: rgb(0, 255, 0);
    color: hsl(9, 50%, 50%);
}
.h1{
    font-size: 16pt;
}
#myP{
    font-size: 48pt;
}
hr{
    color: purple;
    border: 2px solid;
} /*hr เส้น*/

.box{
    width: 400px;
    height: 400px;
    color: rgb(255, 255, 255);
    background-color: rgb(14, 72, 7);
    text-align: center;
    border: 5px dashed rgb(0, 255, 0);
    padding-top: 10%;
    margin: 50px 25px;
}    
    
.box h2{
    padding-top: 125px;
    padding-left: -40px;

}

.box:hover{
    box-shadow: 10px 10px 14px 4px rgba(255, 0, 0, 0.41);
    background-color: rgb(136, 10, 10)
    
}

a{
    color: #010101;
}
a:link{
    color: #ff0000;
}
